
<div class="login-container  animate__fadeIn animate__animated">
  <div class="login-head">
  <h3 class="login-title text-xl">登录</h3>
  <i class="login-close"></i>
  </div>
  <div class="login-main">
    <div class="login-main-left"></div>
    <div class="login-main-right">
      <div class="login-method">
        <span class="active">密码登录</span>
        <span>短信登录</span>
      </div>
      <div class="filp-card">
        <div class="filp-card-inner filp-card-item active">
         <form action="javasccript:;" id="pwd-login" class="login-form">
                  
        <div class="form-items">
        <div class="form-group">
          <label for="username" class="control-label form-account_label text-xl"></label>
          <input type="text" name="username" id="account" class="control-input form-account text-xs" placeholder="请输入账号" autocomplete="off">
        </div>
        </div>

        <div class="form-items">
        <div class="form-group">
          <label for="password" class="control-label form-pwd_label text-xl"></label>
          <input type="text" name="password" class="control-input form-pwd text-xs" placeholder="请输入密码" autocomplete="off">
        </div>    
        </div>
        
        <button class="submit-btn">登录</button>
         </form>
        </div>
        <div class="filp-card-back filp-card-item">
      <form action="javasccript:;"  id="phone-login" class="login-form-phone">
        <div class="form-items">
        <div class="form-group">
          <label for="phone" class="control-label form-phone_label text-xl"></label>
          <input type="text" name="phone" id="phone" class="control-input form-phone text-xs" placeholder="请输入手机号" autocomplete="off">
        </div>
        </div>
        <div class="form-items">
        <div class="form-group">
          <label for="password" class="control-label form-pwd_label text-xl"></label>
          <input type="text" name="password" class="control-input form-pwd text-xs" placeholder="请输入密码" autocomplete="off">
        </div>
        </div>
        <div class="form-items">
        <div class="form-group">
          <label for="vertificate" class="control-label form-vertificate_label text-sm"></label>
          <input type="text" name="vertificate" class="control-input form-vertificate text-xs" placeholder="请输入验证码" autocomplete="off">
        </div>
        </div>
        <button class="submit-btn">登录</button>
      </form>
        </div>
      </div>
    </div>
  </div>
  <div class="login-footer text-xss">
    <p class="login-footer--hit">未注册过的<spn class="login-footer--hit_strong">代码既事</spn>账号，我们将帮你自动注册账号</p>
  </div>
</div>


