<div class="registry-container animate__fadeIn animate__animated">
  <div class="registry-head">
  <h3 class="registry-title text-xl">注册</h3>
  <i class="registry-close"></i>
  </div>
  <div class="registry-main">
    <form action="javasccript:;" class="registry-form" id="registry">
      <div class="form-items">
      <div class="form-group">
          <label for="username" class="control-label form-account_label text-xl"></label>
          <input type="text" name="username" id="username" class="control-input form-account text-xs" placeholder="请输入用户名" autocomplete="off">
      </div>
      </div>
      <div class="form-items">
      <div class="form-group">
          <label for="password" class="control-label form-pwd_label text-xl"></label>
          <input type="text" name="password" class="control-input form-pwd text-xs" placeholder="请输入密码" autocomplete="off">
      </div>
      </div>
      <button class="submit-btn">注册</button>
    </form>
  </div>
</div>


