<!-- 主体部分 start -->
<main class="main ">
  <!-- 个人简介部分 start -->
  <div class="main-left visible-lg-block ">
    <!-- -->

    <!-- 个人介绍 -->

    </div>
  </div>
  <!-- 个人简介部分 end -->

  <!-- 文章列表部分 start -->
  <div class="main-right">

  </div>
  <!-- 文章列表部分 end -->
</main>
<!-- 主体部分 end -->