
.article-title {
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-des {
  color: text_color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-about {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 20px;  
  margin-top: 10px;
}

.article-date {
  display: flex;
  align-items: center;
  color: text_color;
}
.article-date--icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url("img/date.svg");
  background-size: contain;
}
.main-right-article {
  max-width:1200px;  
}

.article-like {
  display: flex;
  align-items: center;
  color: text_color;
}

.article-like--icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url("img/like.svg");
  background-size: contain;
}


.article-comment {
  display: flex;
  align-items: center;
  color: text_color;
}


.article-comment--icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url("img/comment.svg");
  background-size: contain;
}

.article-tags {
  display: flex;
  align-items: center;
}


.article-tags--item {
  margin: 0 5px;
  padding: 3px 8px;
  color: text_color_stronger;
  border-radius: border_radius;
  background-color: article_tag_bgc;
}