


:root {
  --w-e-toolbar-bg-color: transparent;
  --w-e-textarea-bg-color: transparent;
}

#editor-wrapper {
  box-shadow-normal()
  height: 630px;
  width: 1200px;
  border-radius: border_radius;
  background-color: bgc_white;
}

#toolbar-container {
}

#editor-container {

}