.main-left {
  transition() 
  display: none !important;
  box-shadow-normal();
  border-radius: border_radius;
   background-color: bgc_white;
}
.main-left.main-left_has-login {
  display: block !important;
}