.article-detail--scroller {
  position: relative;
  width: 1000px;
  height: 705px;

}

.article-detail {
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 20px;
}

.article-detail--title {
  width: 100%;
  text-align: center;
}
.article-detail--body {
  width: 100%;
}