@import "@/styl/variable.styl";


.submit-add-column-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.submit-add-column {
  box-shadow-normal()
  width: 400px;
  height: 50px;
  padding: 10px;
  border-radius: border_radius;
  background-color: bgc_white;
}