base_bgc = #f8fafc
base_padding = 40px
bgc_white = #ececec85
modal_bgc = rgba(0,0,0,.5)
border_color =  #e5e5e5;

// rgba(100, 100, 111, 0.2) 0px 7px 29px 0px

box-shadow-normal()
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px
transition() 
  transition: width 0.3s, height 0.3s, transform 0.3s, box-shadow 0.3s, margin-left 0.3s;


border_radius = 8px
article_tag_bgc = #dbeafe

text_color = #1e293b;
title_color = #1e293b       
text_color_stronger = #1e40af


border_color = #eff1f3;

input_placeholder_color = #a3a9b4
input_border = #cbd5e1


column-bg-color = #ececec;
column-bg-reverse-color = #2D2F33

