@import "@/styl/variable.styl";

.article-submit-wrap {
  position: relative;
  width: 450px;
  margin: 110px auto;
  overflow: hidden;
}

.article-submit-bgc {
  padding: 35px 30px;
  border-radius: border_radius;
  background-color: base_bgc;

  &::after {
    position: absolute;
    left: -67px;
    bottom: -61px;
    display: block;
    content: "";
    width: 200px;
    height: 200px;
    background: url("/img/moon.png");
    background-size: contain;
    transform: rotate(-30deg);
  }

}

.article-sub-close {
  position: absolute;
  right:20px;
  top: 20px;
  transition() 
  display: block;
  width: 18px;
  height: 18px;
  background: url("/img/close.svg");
  background-size: 18px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2) rotate(30deg);
  }
}


.article-submit-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  width: 100%;
}
.article-submit-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}


.input-file-wrap {
  position: relative;
  width: 150px;
  height: 150px;
  border: 0;
  color:transparent;
  cursor: pointer;

  &:hover {
    .input-file-mask--hover {
      display: flex;
    }
  }
}

.input-file {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.article-file-bgc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: base_bgc;
  border-radius: border_radius;
  pointer-events: none;
}

.article-sub-cover {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: transparent;
}
.input-file-mask {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,.85);
  z-index: 100;
  border-radius: border_radius;
  background-color: rgba(0,0,0,0.1);
  background-size: 100%;
  pointer-events: none;
}
.input-file-mask--hover {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,.85);
  z-index: 100;
  border-radius: border_radius;
  background-color: rgba(0,0,0,0.3);
  background-size: 100%;
  pointer-events: none;
}
.input-file-mask--img {
  width: 30px;
  height: 30px;
  background: url("/img/upload.svg") no-repeat;
  background-size: 30px;
}

.input-file-mask--span {
  font-size: 12px;  
}

.article-select-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: border_radius;
  background-color: pink;
}


.article-sub-column {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 250px;
  cursor: pointer;
}
.article-sub-coumn--item {
  color: title_color;
  padding: 5px 9px;
  border-radius: border_radius;
}



.article-sub-coumn--item {
  box-shadow-normal()
  color: text_color;
  background-color: bgc_white;
}

.js-article-column-item--select {
  color: text_color_stronger;
  border-radius: border_radius;
  background-color: article_tag_bgc;
}


.article-sub-abstract {
  box-shadow-normal()
  width: 300px;
  height: 100px;
  border: 0;
  padding: 10px;
  color: text_color;
  border-radius: border_radius;
  overflow: hidden;
  background-color: bgc_white;


  &:empty::before {
    content: attr(placeholder);
    color: input_placeholder_color;
  }
}

.article-submit-btns {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.article-submit-cancel {
  box-shadow-normal()
  width: 100px;
  height: 50px;
  border-radius: border_radius;
}
.article-submit-confirm {
  box-shadow-normal()
  width: 100px;
  height: 50px;
  border-radius: border_radius;
}